

.nav-link{
    color: black;
}
.nav-link:hover{
    background-color: #33A3FF;
    color: whitesmoke;
}

.logo-nav{
    height: 24px;
    width: 24x;
}

.banner{
    background-image: url(res/bg-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .sidebar {
      height: 100vh;
    }
  }

.library-icon{
    font-size: 112px;
}

.banner{
    background-image: url("res/bg-banner.png");
}



